body {
  margin: 0;
}

/*Header Section*/

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
}

/*Header Logo (Left)*/

.header-logo-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.header-logo {
  margin-right: 12px;
}

.logo-text {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

/*Header Nav (Right)*/

.header-nav span {
  padding-right: 40px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.header-nav span a {
  color: black;
}


/*Main Content Section*/

.main-content {
  display: flex;
  margin: 0 auto 78px auto;
  width: 1232px;
  padding-top: 116px;
}


.large-col-left {
  width: 630px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.medium-col-middle {
  width: 300px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.small-col-right {
  width: 240px;
  display: flex;
  flex-direction: column;
}

/*Universal Column Selectors*/
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.earth-image-blurb span, .research-image-blurb span, .cat-image span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/*Left Column Content*/

.lead-story-image {
  background: url(./Images/myt-story-main.png);
  height: 300px;
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.lead-story span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}


.earth-image-blurb {
  background: url(./Images/myt-story-2.png);
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.research-image-blurb {
  background: url(./Images/myt-story-3.png);
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*Middle Column Content*/

.cat-image {
  background: url(./Images/myt-story-1.png);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/*News Bites (Right)*/
.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
}

.news-bites span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;

}

/*Footer*/
.footer {
  height: 325px;
  background-color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer-nav {
    display: block;
    margin: auto;
    margin-bottom: -120px;
    font-size: 14px;
}

.footer-nav span a {
  color: black;
  padding: 10px 20px;
}

.footer-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

.footer-copyright {
  margin: auto;
}
